/cmake-build-*/
/Data
/Secret
/GeneratedDocumentation
/GeneratedReports

/**/.idea/workspace.xml
/**/.idea/usage.statistics.xml
/**/.idea/shelf
/**/.idea/editor.xml

/Database/.idea/dataSources
/Database/.idea/dataSources.local.xml

/Resources/ReportTemplates/LaTeX/*.aux
/Resources/ReportTemplates/LaTeX/*.log
/Resources/ReportTemplates/LaTeX/*.pdf
/Resources/ReportTemplates/LaTeX/*.synctex*
